﻿@model Talents

<h2>@Model.Trees[0].TotalPoints-@Model.Trees[1].TotalPoints-@Model.Trees[2].TotalPoints (@Model.Trees.OrderByDescending(x => x.TotalPoints).FirstOrDefault().TreeTalents.Where(x => x.CurrentPoints > 0).OrderByDescending(x => x.Level).FirstOrDefault().Name - @Model.Trees.OrderByDescending(x => x.TotalPoints).Skip(1).FirstOrDefault().TreeTalents.Where(x => x.CurrentPoints > 0).OrderByDescending(x => x.Level).FirstOrDefault().Name)</h2>

<div style="display: flex;">
	<h4 id="myHp" style="margin-right:100px;"></h4>
	<h4 id="totalDamage"></h4>

</div>
<div style="display: flex;">
	<h4 id="myMana" style="margin-right:80px;"></h4>
	<h4 id="hitLog"></h4>
</div>

<h5 id="dmgModifiers"></h5>

<h3 id="console"></h3>
<div class="progress" style="width: 300px;">
	<div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<h4 id="damageLog"></h4>
<h4 id="dps"></h4>

<h4 id="timeUntilStop"></h4>

<h4 id="spellCosts"></h4>

<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

<script type="text/javascript">
	var nextTick = new Date().getTime();

	var started = new Date().getTime();
	var totalDamageDealt = 0;

	var totalNormals = 0;
	var totalCrits = 0;
	var totalResists = 0;
	var totalPartialResists = 0;

	// Global debuffs
	var curseOfShadowActive = true;
	var curseOfShadowMultiplier = 1.1;

	var ImprovedShadowBoltStackCount = 0;

	var shadowWeavingActive = true;
	var shadowWeawingMultiplier = 1.15;

	// Corruption
	var castCorruption = true;
	var corruptionManaCost = 290;
	var corruptionTotalDamage = 666;
	if (shadowWeavingActive) {
		corruptionTotalDamage = corruptionTotalDamage * shadowWeawingMultiplier;
	}
	if (curseOfShadowActive) {
		corruptionTotalDamage = corruptionTotalDamage * curseOfShadowMultiplier;
	}

	// Talent bonuses
	var shadowMasteryTalents = @Model.SpentTalents("Shadow Mastery");
	var demonicSacrificeTalents = @Model.SpentTalents("Demonic Sacrifice");
	var improvedShadowBoltTalents = @Model.SpentTalents("Improved Shadow Bolt");
	var ruinTalents = @Model.SpentTalents("Ruin");
	var devastationTalents = @Model.SpentTalents("Devastation");
	var baneTalents = @Model.SpentTalents("Bane");
	var improvedLifeTapTalents = @Model.SpentTalents("Improved Life Tap");
	var cataclysmTalents = @Model.SpentTalents("Cataclysm");

	// Todo corruption uptime
	var nightFallTalents = @Model.SpentTalents("Nightfall");
	var improvedCorruptionTalents = @Model.SpentTalents("Improved Corruption");

	var demonicEmbraceTalents = @Model.SpentTalents("Demonic Embrace");

	// Base costs
	var shadowBoltCost = 370 * (1 - (cataclysmTalents * 0.01));
	var lifeTapCost = 424;
	var lifeTapGain = 424 * (1 + (improvedLifeTapTalents * 0.1));

	// Cast times
	var shadowBoltCastTime = 3000 * (1 - baneTalents * 0.01);
	var globalCooldown = 1000;

	// Resources
	var myMaxHp = 5000;
	var myMaxMana = 7000;

	// Imp, not available if demonic sacrifice is used
	if (demonicSacrificeTalents == 0) {
		myMaxHp = myMaxHp + 380;
	}
	else {
		myMaxHp = myMaxHp * (1 + demonicEmbraceTalents * 0.03);
	}

	// Start with full hp
	var myHp = myMaxHp;
	var myMana = myMaxMana;

	$(document).ready(function ()
	{
		$('.progress-bar').removeAttr("-webkit-transition");

		$("#myHp").text("HP: " + myHp + "/" + myMaxHp);
		$("#myMana").text("Mana: " + myMana + "/" + myMaxMana);
		$("#totalDamage").text("Total damage: " + totalDamageDealt);
		var actionStopsAt = new Date().getTime();

		var simulationStops = new Date().getTime() + 180000;

		var currentAction = 0;

		function UpdateHpAndMana() {
			// Regen
			if (nextTick < new Date().getTime() && myHp < myMaxHp) {
				myHp = myHp + 10;
				nextTick = nextTick + globalCooldown;
			}

			$("#myHp").text("HP: " + myHp + "/" + myMaxHp);
			$("#myMana").text("Mana: " + myMana + "/" + myMaxMana);
			$("#totalDamage").text("Total damage: " + totalDamageDealt);

			var actualHitPercentage = 100;
			if ((totalResists + totalPartialResists) != 0) {
				actualHitPercentage = ((totalNormals + totalCrits) / (totalNormals + totalCrits + totalResists + totalPartialResists)) * 100;
			}

			var actualCritPercentage = 0;
			if ((totalNormals + totalCrits) != 0) {
				actualCritPercentage = (totalCrits) / (totalNormals + totalCrits) * 100;
			}

			$("#hitLog").text("Normal: " + totalNormals + " Crits: " + totalCrits + " Full: " + totalResists + " Partial: " + totalPartialResists + " // Hit%: " + Number(actualHitPercentage).toFixed(0) + " Crit%: " + Number(actualCritPercentage).toFixed(0));

			var dps = Number(totalDamageDealt / ((new Date().getTime() - started) / 1000)).toFixed(0);
			$("#dps").text("DPS: " + dps);
		}

		function UpdateProgressBar() {
			if (currentAction == 0) {
				$("#progressBar").width("0%");
			}
			var progressEnd = 0;
			if (currentAction == 1) {
				progressEnd = globalCooldown;
			}
			else if (currentAction == 2) {
				progressEnd = shadowBoltCastTime;
			}

			var actionEnd = actionStopsAt;
			var actionBegin = actionEnd - progressEnd;

			var thisTime = new Date().getTime();

			var progress = thisTime - actionBegin;

			var percentage = Number(progress / progressEnd * 100).toFixed(0);

			$("#progressBar").width(percentage + "%");
		}

		function UpdateBuffsAndDebuffs() {
			var log = "";
			if (shadowWeavingActive) {
				log = log + "Shadow weaving (+15% dmg)";
			}
			if (curseOfShadowActive) {
				log = log + ", Curse of Shadows (+10% dmg)";
			}
			if (ImprovedShadowBoltStackCount > 0) {
				log = log + ", Improved Shadow Bolt (+" + (improvedShadowBoltTalents * 4) + "% dmg x" + ImprovedShadowBoltStackCount + ")";
			}
			$("#dmgModifiers").text(log);
		}

		function CalculateShadowboltDamage() {

			var critPercentage = 10 * (1 + (devastationTalents * 0.1));

			var critMultiplier = ruinTalents > 0 ? 2 : 1.5;
			var resistPercentage = 7;

			var baseDamage = 455; // 455 to 507 damage
			var baseExtra = Math.floor((Math.random() * (507 - 455)));
			baseDamage += baseExtra;

			var actualDamage = 0;

			// Check for buffs and debuffs and apply to base damage
			if (curseOfShadowActive) {
				baseDamage = baseDamage * curseOfShadowMultiplier;
			}
			if (ImprovedShadowBoltStackCount > 0) {
				baseDamage = baseDamage * 1.2;
			}
			if (shadowWeavingActive) {
				baseDamage = baseDamage * shadowWeawingMultiplier;
			}
			baseDamage = baseDamage * (1 + (shadowMasteryTalents * 0.02));
			baseDamage = baseDamage * (1 + (demonicSacrificeTalents * 0.15));

			var message = "";

			var crit = false;

			var critRoll = Math.floor((Math.random() * 100) + 1);
			if (critRoll <= critPercentage) {
				actualDamage = baseDamage * critMultiplier;
				message = "Shadowbolt CRIT for " + Number(actualDamage).toFixed(0) + "!";
				ImprovedShadowBoltStackCount = 4;
				crit = true;
				totalCrits++;
			}
			else {
				actualDamage = baseDamage;
				message = "Shadowbolt hit for " + Number(actualDamage).toFixed(0);
				totalNormals++;
			}

			var resistRoll = Math.floor((Math.random() * 100) + 1);
			if (resistRoll <= resistPercentage) {
				var fullResistRoll = Math.floor((Math.random() * 100) + 1);
				if (fullResistRoll <= 50) {
					message = "Shadowbolt" + (crit ? " CRIT BUT" : "") + " fully resisted!"
					actualDamage = 0;
					totalResists++;
				}
				else {
					actualDamage = Number(actualDamage / 2).toFixed(0)
					message = "Shadowbolt" + (crit ? " CRIT BUT" : "") + " partially resisted and hit for " + Number(actualDamage).toFixed(0);
					totalPartialResists++;
				}
				if (crit) totalCrits--;
				else totalNormals--;
			}

			$("#damageLog").text(message);
			if (ImprovedShadowBoltStackCount > 0 && !crit) ImprovedShadowBoltStackCount = ImprovedShadowBoltStackCount - 1;
			return Number(actualDamage).toFixed(0);
		}

		var interval = setInterval(function ()
		{
			if (simulationStops < new Date().getTime()) {
				clearInterval(interval);
			}

			$("#timeUntilStop").text(Number((simulationStops - new Date().getTime()) / 1000).toFixed(0) + "s left");

			// Do something
			if (actionStopsAt <= new Date()) {

				// Resolve last action (deduct resource & lower enemy hp)
				////////////////////////////////////////////////////////
				// Life tap
				if (currentAction == 1) {
					myHp = myHp - lifeTapCost;
					if (myMana + lifeTapGain > myMaxMana) {
						myMana = myMaxMana;
					}
					else {
						myMana = parseInt(myMana + lifeTapGain);
					}
				}
				// Shadow bolt
				else if (currentAction == 2) {
					myMana = parseInt(myMana - shadowBoltCost);
					var damage = CalculateShadowboltDamage();
					totalDamageDealt = parseInt(totalDamageDealt) + parseInt(damage);
				}
				////////////////////////////////////////////////////////
				// Next cast
				////////////////////////////////////////////////////////
				// Hp about to cap and mana bar has room for a tap  -> Life tap
				if (myHp > myMaxHp - lifeTapCost && myMana < myMaxMana - shadowBoltCost) {
					actionStopsAt = new Date().getTime() + globalCooldown;
					$("#console").text("Casting Life Tap");
					currentAction = 1;
				}
				// Mana for shadowbolt -> Shadowbolt
				else if (myMana >= shadowBoltCost) {
					var castTime = shadowBoltCastTime;

					actionStopsAt = new Date().getTime() + castTime;
					$("#console").text("Casting Shadowbolt");
					currentAction = 2;
				}
				// Hp for life tap -> Life tap
				else if (myHp > lifeTapCost) {
					actionStopsAt = new Date().getTime() + 1000;
					$("#console").text("Casting Life Tap");
					currentAction = 1;
				}
				// Regen hp
				else {
					$("#console").text("Being AFK");
					currentAction = 0;
				}
				////////////////////////////////////////////////////////
			}

			UpdateHpAndMana();
			UpdateProgressBar();
			UpdateBuffsAndDebuffs();
		}, 25);
	});
</script>