﻿@model DPSParser.ResultViewModel
@{
	ViewData["Title"] = "Results";
	var counter = 0;
}
<table class="table table-bordered" style="margin-top: 20px;">
	<thead>
		<tr>
			<th></th>
			<th>Damage</th>
			<th>Damage per second</th>
			<th>Highest hit</th>
			<th>Hit %</th>
			<th>Crit %</th>
			<th>Shadowbolt casts</th>
			<th>Shadowbolt hits</th>
			<th>Improved shadowbolt hits</th>
			<th>Full resists</th>
			<th>Partial resists</th>
			<th>Life taps</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var row in Model.Outputs) {
		<tr>
			<td>@(counter == 0 ? "Avg" : counter == 1 ? "Max" : "Min")</td>
			<td>@row.TotalDamage</td>
			<td>@row.DamagePerSecond</td>
			<td>@row.HighestSingleHit</td>
			<td>@row.HitPercentage</td>
			<td>@row.CritPercentage</td>
			<td>@row.TotalShadowboltCasts</td>
			<td>@row.TotalShadowboltHits</td>
			<td>@row.TotalShadowboltHitsWithImprovedShadowbolt</td>
			<td>@row.TotalShadowboltFullResists</td>
			<td>@row.TotalShadowboltPartialResists</td>
			<td>@row.TotalLifetaps</td>
		</tr>
			counter++;
		}
	</tbody>
</table>

<h2>1 crit = @Model.CritWeight sp, 1 hit = @Model.HitWeight sp</h2>

@Html.ActionLink("Back", "Simulate")
