﻿@model DPSParser.Inputs
@{
	ViewData["Title"] = "Simulate";
}

<h3>Simulation variables</h3>

<form asp-controller="Home" asp-action="RunSimulation">
	<input asp-for="FightDuration" type="number" id="fightDuration" />
	<label for="fightDuration">Fight duration (s)</label>
	<br />
	<input asp-for="ActiveHealers" type="checkbox" id="activeHealers" />
	<label for="activeHealers">Active healers (infinite HP)</label>
	<br />
	<input asp-for="NumberOfRepeats" type="number" id="numberOfSimulations" />
	<label for="numberOfSimulations">Number of simulations (max 10 000)</label>
	<br />
	<input asp-for="Debuffs.CurseOfShadow" type="checkbox" id="curseOfShadow" />
	<label for="curseOfShadow">Curse of Shadow (+10% damage)</label>
	<br />
	<input asp-for="Debuffs.ShadowWeaving" type="checkbox" id="shadowWeaving" />
	<label for="shadowWeaving">Shadow weaving (+15% damage)</label>
	<br />

	<h3>Items</h3>
	<div style="display: flex;">
		<div style="margin-right: 40px;">
			<label>Head</label>
			<select asp-for="InputsForGear.Head" asp-items="Model.InputsForGear.HeadOptions"></select>
			<br />
			<br />
			<label>Neck</label>
			<select asp-for="InputsForGear.Neck" asp-items="Model.InputsForGear.NeckOptions"></select>
			<br />
			<br />
			<label>Shoulder</label>
			<select asp-for="InputsForGear.Shoulder" asp-items="Model.InputsForGear.ShoulderOptions"></select>
			<br />
			<br />
			<label>Back</label>
			<select asp-for="InputsForGear.Back" asp-items="Model.InputsForGear.BackOptions"></select>
			<br />
			<br />
			<label>Chest</label>
			<select asp-for="InputsForGear.Chest" asp-items="Model.InputsForGear.ChestOptions"></select>
			<br />
			<br />
			<label>Wrist</label>
			<select asp-for="InputsForGear.Wrist" asp-items="Model.InputsForGear.WristOptions"></select>
			<br />
			<br />
			<label>Hands</label>
			<select asp-for="InputsForGear.Hands" asp-items="Model.InputsForGear.HandsOptions"></select>
			<br />
			<br />
			<label>Waist</label>
			<select asp-for="InputsForGear.Waist" asp-items="Model.InputsForGear.WaistOptions"></select>
		</div>
		<div>
			<label>Legs</label>
			<select asp-for="InputsForGear.Legs" asp-items="Model.InputsForGear.LegsOptions"></select>
			<br />
			<br />
			<label>Feet</label>
			<select asp-for="InputsForGear.Feet" asp-items="Model.InputsForGear.FeetOptions"></select>
			<br />
			<br />
			<label>Ring1</label>
			<select asp-for="InputsForGear.Ring1" asp-items="Model.InputsForGear.Ring1Options"></select>
			<br />
			<br />
			<label>Ring2</label>
			<select asp-for="InputsForGear.Ring2" asp-items="Model.InputsForGear.Ring2Options"></select>
			<br />
			<br />
			<label>Trinket1</label>
			<select asp-for="InputsForGear.Trinket1" asp-items="Model.InputsForGear.Trinket1Options"></select>
			<br />
			<br />
			<label>Trinket2</label>
			<select asp-for="InputsForGear.Trinket2" asp-items="Model.InputsForGear.Trinket2Options"></select>
			<br />
			<br />
			<label>Mainhand</label>
			<select asp-for="InputsForGear.Mainhand" asp-items="Model.InputsForGear.MainhandOptions"></select>
			<br />
			<br />
			<label>Offhand</label>
			<select asp-for="InputsForGear.Offhand" asp-items="Model.InputsForGear.OffhandOptions"></select>
			<br />
			<br />
			<label>Wand</label>
			<select asp-for="InputsForGear.Wand" asp-items="Model.InputsForGear.WandOptions"></select>
		</div>
	</div>
	<br />
	<button asp-controller="Home" asp-action="RunSimulation">Simulate</button>
</form>